In [1]:
import sys
import os

repo_root = os.path.dirname(os.getcwd())
src_path = os.path.join(repo_root, "src")

if src_path not in sys.path:
    sys.path.append(src_path)

In [2]:
import importlib, io_load
importlib.reload(io_load)

In [3]:
from io_load import *
rc = load_receipts_csv("data_raw/user_coupon_receive.csv")
rc.head(5)

,User_id,Coupon_id,Coupon_status,Receive_date,Start_date,End_date,Coupon_amt_cent,Price_limit_cent
0,198f3736deb018366b7e76a00ca61a24,61ce2f87cf1edf6e5f31520cda09b89a,2,2023-04-26,2023-04-26,2023-04-26,1000,2500
1,c962d8f6542b0ec14a2cef371cf2f9b2,3aa11cc0f8698d5a2c9ce34bbf3bf919,3,2023-04-11,2023-04-11,2023-04-14,700,2000
2,9e9ffb33c7e434e0db6a599300860121,4d404e8b2765a960705288d5e16da562,3,2023-02-10,2023-02-10,2023-02-11,100,500
3,f4e5fd8d8a7e6eb033e1e488a93827ae,31f89b13f0023f8d0a88eed43a64fb4a,3,2023-04-06,2023-04-06,2023-04-09,300,1200
4,870c5425bc174a7b578185cff9701ebd,3e2e32d8aac9adf7748698cb58e9ebd4,1,2023-05-17,2023-05-17,2023-05-24,500,3000

In [ ]:
rc.loc[rc["Receive_date"] > rc["Start_date"]]  # there are quite a lot!
rc.loc[rc["Receive_date"] > rc["End_date"]] # there are two!
rc.loc[rc["User_id"].isna()] # Nope
rc.loc[rc["Coupon_id"].isna()] # Nope

Empty DataFrame
Columns: [User_id, Coupon_id, Coupon_status, Receive_date, Start_date, End_date, Coupon_amt_cent, Price_limit_cent]
Index: []

In [ ]:
rc.loc[rc["Coupon_amt_cent"].isna()] # 293993 observations
rc.loc[rc["Price_limit_cent"].isna()] # 293993 observations
rc.loc[rc["End_date"].isna()] # nope
rc.loc[rc["Start_date"].isna()] # nope
rc.loc[rc["Receive_date"].isna()] # 286860 observations

,User_id,Coupon_id,Coupon_status,Receive_date,Start_date,End_date,Coupon_amt_cent,Price_limit_cent
5731,101f644d2be96402de3884d3d4bc71e9,c02f46d66f91203f541cd5236f9c73c3,3,NaT,2023-06-24,2023-06-24,5210,6000
5734,d83de723292ab2ce8244e878907d8699,2e557d645a4a23f534cce7dd0196b719,3,NaT,2023-06-27,2023-06-27,800,5900
5743,d2878e7626d43cc7fc7bd73f1c6eab6c,7c6208f5f7f36754a6fcdf34a5fa2bff,3,NaT,2023-06-15,2023-06-22,1000,3900
5748,2ac284c31f3d10aa24cb5d2845a0bc27,2d751691cdab5c8e0299b9cb5b7fd9f9,3,NaT,2023-05-06,2023-05-13,1000,4900
5750,23689e87da519c824a7923b4cb7efd2d,96a47eb6464047937e076a10ea0f250b,3,NaT,2023-04-30,2023-05-03,800,5900
...,...,...,...,...,...,...,...,...
12693069,2ec7e2da211959463f970092797c4279,82fc1e019d58c55589a4e3327dfd577a,3,NaT,2023-05-23,2023-05-24,1200,5900
12693072,e14f57b16f0219aa094435226c45348e,d0e7dbe8bb0dc7a02139f736c65adcab,3,NaT,2023-06-09,2023-06-09,1200,6900
12693080,1e3f18c757b8679632110a7ff2779673,fb24bf5d6abf337e91e3e95bbc5b294e,3,NaT,2023-06-21,2023-06-28,1000,3900
12693083,7a7d454a1f072491c90fad04033ae085,37b2fd24e5e14fcfc76a51efcc58f374,3,NaT,2023-05-25,2023-06-01,1000,3900
12693085,ca1ba0495d40df7a6acbf05f353f2a55,9453c1c309a7f6e270f553c897445906,3,NaT,2023-04-30,2023-05-03,1200,2900

In [ ]:
# NO receipts with the same Coupon_id but different Start_date & End_date
temp_df = rc.groupby("Coupon_id")[["Start_date", "End_date"]].nunique()
df_a = temp_df[temp_df["Start_date"] > 1]
print(df_a.shape)
df_b = temp_df[temp_df["End_date"] > 1]
print(df_b.shape)

(0, 2)
(0, 2)

### All things above are used to check several fields used in cpn_features.py
Involving coupon receiving details.

In [3]:
from io_load import *

tx = load_transactions_csv("data_raw/order_detail.csv", nrows=15)
rc = load_receipts_csv("data_raw/user_coupon_receive.csv", nrows=15)
ul = load_users_logins_csv("data_raw/user_visit_detail.csv", nrows=15)

print(tx.columns)
print(rc.columns)
print(ul.columns)

Index(['User_id', 'Shop_id', 'Order_id', 'Coupon_id', 'Coupon_type',
       'Biz_code', 'Pay_date', 'Actual_pay_cent', 'Reduce_amount_cent'],
      dtype='object')
Index(['User_id', 'Coupon_id', 'Coupon_status', 'Receive_date', 'Start_date',
       'End_date', 'Coupon_amt_cent', 'Price_limit_cent'],
      dtype='object')
Index(['User_id', 'Visit_date'], dtype='object')

In [4]:
import importlib, clean_compress
importlib.reload(clean_compress)

In [5]:
from clean_compress import *
dfs = (tx, rc, ul)

dfs = drop_duplicate_rows(*dfs)

for df in dfs:
    df = reduce_mem_usage(df)

Mem. usage decreased to  0.00 Mb (22.7% reduction)
Mem. usage decreased to  0.00 Mb (22.4% reduction)
Mem. usage decreased to  0.00 Mb (0.0% reduction)

In [12]:
new_tx_rc, mapping = id_reassign_with_map(["Coupon_id"], tx, rc)

[Coupon_id] ↓ to  0.00 MB (90.0% reduction)

In [13]:
mapping["Coupon_id"]

{'7e4ae1565cc015a44f10263d7ffe4dc0': 0,
 '0a52ebb2f236b558eb5deb0bb73c2613': 1,
 '20dd5ba437c64f36dfc0f71705324665': 2,
 '161aedbed0ff7ba4d5d204cfeb02ef1c': 3,
 '101a8facf8b8b2f81a9ae718af5bcac4': 4,
 'db63295abf54f2b7af0480e57aa618a7': 5,
 'f9e30366cef6936470f93458a7e84a76': 6,
 'ad590b5cfe44117f0b7f35584c74a714': 7,
 'b836450462c5676985cc5bac92f0c9cf': 8,
 '61ce2f87cf1edf6e5f31520cda09b89a': 9,
 '3aa11cc0f8698d5a2c9ce34bbf3bf919': 10,
 '4d404e8b2765a960705288d5e16da562': 11,
 '31f89b13f0023f8d0a88eed43a64fb4a': 12,
 '3e2e32d8aac9adf7748698cb58e9ebd4': 13,
 '0b2ff8aab8548e48558d89d4387da28b': 14,
 'd00b90ba38a01c19710f0e9fcfe8d439': 15,
 '183058c9f09498ee989248314a5c2c40': 16,
 '7fb8ff0e0e4d8848cab3da0f0de603a1': 17,
 '2e4cb748606895d73aa14bf20d510b99': 18,
 'a08d0eb3ba7ae157f6b5ba7222302455': 19,
 '4b865fb62f9ec2e243e2d95fa87db945': 20,
 '2fe833102f4cf29ca6e91350454175b8': 21,
 '1b8145149e0d95c20bdc6f773d063aad': 22,
 '1b89379d155c7cfe5b4ad4c2587f27bc': 23}

In [14]:
new_tx_rc = drop_original_id(["Coupon_id"], *new_tx_rc)

In [15]:
new_tx_rc[0]

,User_id,Shop_id,Order_id,Coupon_type,Biz_code,Pay_date,Actual_pay_cent,Reduce_amount_cent,Coupon_id_code
0,1f434874e1371f4651011aec29e463a6,a6900d0b0e94121a05b8f076d793b36a,cf215ea951d8a8dc09002cd9e5b2d9ec,1,D,2023-02-10,3000,0,0
1,fe845ad183d4ba6ebed2138dfa5fc933,4e08575cf11cfb11b9719e21bae525b0,1f8e69ba356e3c786e3e4de600db4f8a,1,D,2023-03-26,2230,600,1
2,56a8a58c7fa83d67862af639c9c5e63f,c89b4088551c6c98ba02c502b478a824,bb4ae29d7962a312adc450fe4c7f4965,1,D,2023-06-07,2020,0,2
3,e24374a1fa8e24ed2a39ff614373735e,f4c9dd2982c4c4192b2e92b1928c502d,3f0912b08f064f50c571b0e91d7cf059,1,D,2023-03-17,4300,400,3
4,91ae4cda5ece690f65317eaa64f5c6d2,c7e657fc94b2c7316b5164569dc49834,6ffa6bf214d4e1ef20fec6ecf3a0c9ce,<NA>,D,2023-02-15,2170,0,-1
5,5941f7407b9161e1ce727831abbdb0eb,544bb8613d1b92782887dbc8f41f3025,f7bafcfb40a2450558f3091d65c5bf0c,<NA>,D,2023-04-02,2542,100,-1
6,c5ff5d3246c0252b5f2fb36488679011,21968050a35f0ec1004e9cce1c5ee2c0,d14fc9bf8f66eec98a52efab3ce6f5ae,<NA>,D,2023-05-11,1576,0,-1
7,09f7cdce607535e8e9381500fb2baaac,23e04526ea97b08ad84d64e7337030c0,43d0442e02916cc5072f3bff7ba35db1,<NA>,D,2023-06-26,950,52,-1
8,4767d6f1f5d4fe7f7c3a480cc45e8d36,9dfe883c7a613fe338627ef252332507,ed75dcaadc10b056c02404c5c68298f1,1,D,2023-03-13,5300,500,4
9,590af64b9cec2a940510bcc63fc3f1f0,d0d23290119e5eb07cf2d7427b550212,df5768d76c9e85befac31d642c9d38d0,1,D,2023-05-29,1560,300,5
10,12c8eab9ed80c9e45654ab0f5836c6b8,7b5ce0a9f4f8cf905f955277d3f4f135,38a7654249faf450d2cfa6c57aac3bc8,<NA>,D,2023-04-22,990,200,-1
11,46cb151891f39dafceba6911cdb4360f,4c767759c4f0a0f24a413e11944445ac,206161c62d44db2932a8fa3e5bce7a4e,1,D,2023-06-05,2500,0,6
12,3d89e8abaf933decf8d8cd350b055c35,0d38a4358b22fb17231f6cfbbabb28e2,6539b13817601424b2c5b182af32a89a,1,D,2023-03-01,1039,500,7
13,d4257693cdd76f94fbee40f3decd3fb7,be4870c7cb1cd9e101a2fbc84192730b,4c54d6aca5bf5fd26269dc74f0b887de,1,D,2023-03-13,1660,0,8
14,69bd64d5e4bdeed7ab707da97585a33e,095d72a4afbf638d6a226668947acce8,37e2b37e715e34ea0848c01ef844b7c3,<NA>,D,2023-03-29,2230,0,-1

In [16]:
save_df2pq(new_tx_rc[0], "txn")

[txn] saved to c:\Users\20878\25Fall\meituan-coupon-roi\data_work/txn.parquet, shape=(15, 9), size=0.01 MB

In [11]:
df = load_df_from_pq(path="data_work/rcs.parquet", cols=["User_id_code", "Coupon_id_code", "Receive_date", "Coupon_amt_cent", "Price_limit_cent"])
df.dtypes

pq loaded from c:\Users\20878\25Fall\meituan-coupon-roi\data_work/rcs.parquet, shape=(12693100, 5), size=147.92 MB

User_id_code                 Int32
Coupon_id_code               Int32
Receive_date        datetime64[ns]
Coupon_amt_cent              Int32
Price_limit_cent             Int32
dtype: object

In [13]:
df.loc[df["Coupon_amt_cent"].isna()]

,User_id_code,Coupon_id_code,Receive_date,Coupon_amt_cent,Price_limit_cent
5599,43867,633382,2023-03-28,<NA>,<NA>
5602,34993,633384,2023-04-16,<NA>,<NA>
5603,16670,633385,2023-03-09,<NA>,<NA>
5604,23683,633386,2023-06-07,<NA>,<NA>
5605,46308,633387,2023-05-05,<NA>,<NA>
...,...,...,...,...,...
12692811,8998,12726563,2023-01-08,<NA>,<NA>
12692845,36682,12726597,2023-04-12,<NA>,<NA>
12692995,6100,12726743,2023-05-20,<NA>,<NA>
12693048,28997,337115,2023-05-22,<NA>,<NA>
12693089,12857,12726836,2023-06-30,<NA>,<NA>

In [14]:
df.shape

(12693100, 5)

### The following is to check the NA-ness of several fields used in user_features.py:
Involving txns records and visits records.

In [ ]:
txns = load_transactions_csv("data_raw/order_detail.csv")

KeyError: 'User_id_code'

In [ ]:
txns.loc[txns["User_id"].isna()]  # nope
txns.loc[txns["Order_id"].isna()] # nope
txns.shape

Empty DataFrame
Columns: [User_id, Shop_id, Order_id, Coupon_id, Coupon_type, Biz_code, Pay_date, Actual_pay_cent, Reduce_amount_cent]
Index: []

In [21]:
df = load_df_from_pq(path="data_work/txns.parquet", cols=["User_id_code", "Order_id_code", "Pay_date", "Actual_pay_cent", "Reduce_amount_cent"])
df.dtypes

pq loaded from c:\Users\20878\25Fall\meituan-coupon-roi\data_work/txns.parquet, shape=(1543536, 5), size=26.79 MB

User_id_code                   Int32
Order_id_code                  Int32
Pay_date              datetime64[ns]
Actual_pay_cent                Int32
Reduce_amount_cent             Int32
dtype: object

In [ ]:
df.loc[df["Pay_date"].isna()] # nope
df.loc[df["Actual_pay_cent"].isna()] # nope
df.loc[df["Reduce_amount_cent"].isna()] # nope

Empty DataFrame
Columns: [User_id_code, Order_id_code, Pay_date, Actual_pay_cent, Reduce_amount_cent]
Index: []

In [22]:
df.shape

(1543536, 5)

In [26]:
df = load_df_from_pq(path="data_work/visits.parquet", cols=["User_id_code", "Visit_date"])
df.dtypes

pq loaded from c:\Users\20878\25Fall\meituan-coupon-roi\data_work/visits.parquet, shape=(2815177, 2), size=8.59 MB

User_id_code             Int32
Visit_date      datetime64[ns]
dtype: object

In [ ]:
df.shape # (2815177, 2)
df.loc[df["Visit_date"].isna()] # nope
df.loc[df["User_id_code"].isna()] # nope

Empty DataFrame
Columns: [User_id_code, Visit_date]
Index: []